.heading {
  text-align: center;
}

.all-trains-container {
  text-align: center;
}

.trains-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.train-row {
  background-color: #f9f9f9;
}

.trains-table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.trains-table td {
  padding: 10px;
  text-align: center;
}

.trains-table td,
.trains-table th {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.train-row:not(:last-child) {
  margin-bottom: 10px;
}
